<%# app/views/orders/show.html.erb %>
<!-- Прелоадер -->
<div id="preloader" data-controller="preloader" class="fixed inset-0 bg-white flex items-center justify-center z-50">
  <div class="loader border-t-4 border-green-600 rounded-full w-12 h-12 animate-spin"></div>
</div>
<div class="bg-white shadow-md rounded-lg p-4">
  <div class="mb-1 text-xl font-bold text-gray-900">
    <%= restaurant_info.upcase %>
  </div>
  <div class="mt-4 rounded-lg overflow-hidden">
    <%= image_tag 'pinta_1.png', alt: 'restaurant image', class: 'w-full h-auto object-cover rounded-lg' %>
  </div>
  <div class="mt-2 flex items-center text-gray-700">
    <%= image_tag 'location.png', alt: 'location icon', class: 'h-6 w-6' %>
    <p class="ml-2 text-sm "><%= t("restaurant_info.street")%> Куйши Дина, 18</p>
  </div>
</div>
<!-- Информация о столе -->
<div class="mt-4 bg-white shadow-md rounded-lg p-4">
  <div class="flex justify-between items-center">
    <div>
      <span class="text-sm bg-green-100 text-green-600 rounded font-bold px-2 py-1 inline-block mt-1"><%= t("order.bill_open")%></span>
      <h3 class="text-sm font-semibold text-gray-900 mt-2"><%= t("order.table_name")%></h3>
      <h3 class="text-sm font-semibold text-gray-900 mt-2"><%= t("order.waiter_info")%></h3>
    </div>
    <div class="text-right">
      <p class="text-lg font-bold text-gray-900"><%= number_with_delimiter(order_data["sum"], delimiter: ' ') %> ₸</p>
      <h3 class="text-sm font-regular text-gray-900 mt-2">№<%= number_table %></h3>
      <h3 class="text-sm font-regular text-gray-900 mt-2"><%= waiter_info %></h3>
    </div>
  </div>
  <!-- Кнопки -->
  <div class="mt-4 space-y-3">
    <button data-action="click->bottom-sheet#open" class="w-full bg-green-600 text-white text-lg font-semibold py-2 rounded-lg shadow flex items-center justify-center">
      <%= t("order.show_order")%>
      <%= image_tag 'receipt-item.png', alt: 'order-list', class: "h-5 w-5 ml-2" %>
    </button>
  </div>
</div>
<div class="mt-4 bg-white shadow-md rounded-lg p-4">
  <div class="text-center items-center">
    <h2 class="text-xl font-bold"><%= t("order.pay_bill_title")%></h2>
    <div class="mt-5 justify-center">
      <div data-payment-target="overlay" data-action="click->payment#close" class="fixed inset-0 bg-black bg-opacity-50 hidden transition-opacity duration-300 ease-in-out"></div>
      <button data-action="click->payment#open" class="items-center space-x-3 bg-black text-white py-2 px-4 rounded-full mx-auto hover:bg-gray-800 transition focus:outline-none inline-flex">
        <!-- Логотип Mastercard -->
        <div class="relative flex items-center justify-center mr-4 ml-2">
          <div class="w-6 h-6 rounded-full bg-red-600"></div>
          <div class="w-6 h-6 rounded-full bg-yellow-500 absolute left-4"></div>
        </div>
        <!-- Логотип Visa -->
        <div class="flex items-center px-2 py-1 bg-blue-600 text-white text-sm font-semibold rounded mr-4">
          VISA
        </div>
        <!-- Текст кнопки -->
        <span class="font-medium whitespace-nowrap pr-6">Оплатить картой</span>
      </button>
      <div data-payment-target="payment" class="fixed inset-x-0 bottom-0 transform translate-y-full transition-transform duration-300 ease-in-out bg-white shadow-lg rounded-t-3xl p-4">
        <div>Текст окна оплаты</div>
      </div>
    </div>
  </div>
</div>
<div data-bottom-sheet-target="overlay" data-action="click->bottom-sheet#close" class="fixed inset-0 bg-black bg-opacity-50 hidden transition-opacity duration-300 ease-in-out"></div>
<!-- Bottom Sheet контент -->
<div data-bottom-sheet-target="sheet" class="fixed inset-x-0 bottom-0 transform translate-y-full transition-transform duration-300 ease-in-out bg-white shadow-lg rounded-t-3xl p-4">
  <div class="flex justify-between items-center pb-5">
    <h3 class="text-xl font-bold"><%= t("order.your_order_title")%></h3>
  </div>
  <div class="grid grid-cols-1 gap-px">
    <% products.each do |product| %>
      <div class="flex justify-between items-center">
        <!-- Информация о продукте -->
        <div>
          <h3 class="text-sm font-regular"><%= product['name'] %></h3>
        </div>
        <!-- Цена -->
        <div class="text-right">
          <p class="text-sm font-semibold"><%= product['quantity'] %> x <%= number_with_delimiter(product['price'], delimiter: ' ') %> ₸</p>
        </div>
      </div>
      <hr class="border-t-2 border-dotted border-black my-4" />
    <% end %>
    <div class="mt-2 mb-6 flex justify-between items-center">
      <h3 class="text-xl font-semibold"><%= t("order.total")%></h3>
      <div class="text-right">
        <p class="text-xl font-semibold"><%= number_with_delimiter(price, delimiter: ' ') %> ₸</p>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <h3 class="text-sm font-regular"><%= t("order.service")%> 10%</h3>
      <div class="text-right">
        <p class="text-xl font-semibold"><%= number_with_delimiter(discount_result, delimiter: ' ') %> ₸</p>
      </div>
    </div>
  </div>
  <!-- Кнопка оплаты -->
  <div class="mt-4">
    <button data-action="click->bottom-sheet#close" class="w-full bg-green-600 text-white px-4 py-2 rounded-full text-xl font-semibold">
      <%= t("order.continue")%>
    </button>
  </div>
</div>
